[submodule "AWS_Projects/AppleBite_CICD_Project2/app"]
	path = AWS_Projects/AppleBite_CICD_Project2/app
	url = https://github.com/edureka-devops/projCert.git
[submodule "AWS_Projects/Project2/app"]
	path = AWS_Projects/Project2/app
	url = https://github.com/edureka-devops/projCert.git
